<!DOCTYPE html>
<html>
    <head>
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
                type="text/css"
        />

        <script src="/assets/index.js" type="text/javascript"></script>
        <script src="/assets/manifest.js" type="text/javascript"></script>
        <script src="/assets/vue.js" type="text/javascript"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="content" class="ui container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>